
    body {
      margin-left:50px;
      font-family: Arial, sans-serif;
    }

    h1 {
      text-align: center;
      font-size: 50px;
    }

    img {
      width: 50%;
      height: auto;
      display: block;
      margin-top: 75px;
      margin-left: auto;
      margin-right: auto;
    }

    .title-left {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }

    .title-right {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
    }


    th, td {
      padding-left: 50px;
    }

    .container {
      width: 100%;
      display: flex;
    }

    #left-column {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .school, .skills, .workexp  {
      display:flex;
      flex-direction: column;
    }


    #right-column {
      width: 50%;
      display: flex;
      flex-direction: column;
    }

    .credentials {
      display: flex;
      flex-direction: column;
    }



@media only screen and (max-width: 500px) {

    body {
      margin-left: 0px;
    }

    img {
      Width: 100%;
      height: auto;
    }
    .container {
      display:flex;
      flex-direction: column-reverse;
      font-size: 65%;
      margin-left: 0px;
    }

    #right-column {
      width: 100%;
    }

    #left-column {
      width: 100%;
    }

    .credentials {
      max-width: 100%;
      margin-left: 0px;
    }

    .title-left {
      text-align: center;
    }

    title-right {
      text-align: center;
    }

    .school {
      text-align: center;
    }


    .skills {
      text-align: center;
    }

    .workexp {
      text-align: center;
    }
}

@media only screen and (min-width: 400px) and (max-width: 768px) {


    body {
      margin-left: 0px;
    }

    .container {
      font-size: 75%;
      margin-left: 0px;
    }

    #right-column {
      width: 100%;
    }

    #left-column {
      width: 100%;
    }

    .title-left {
      text-align: center;
    }

    .title-right {
      text-align: center;
    }
}
